h1{
    color : #cc6633;
    font : 200% impact, futura, sans-serif;
    text-transform : uppercase;
    text-decoration: underline;
    
}
 h4{
    color : #574942;
    font :  impact, futura, sans-serif;
   
 }   